@font-face {
    font-family: "MADE";
    src: url("../fonts/MADE.otf");
}

@font-face {
    font-family: "ProximaNova-Regular";
    src: url("../fonts/ProximaNova-Regular.ttf");
}

@font-face {
    font-family: "ProximaNova-Bold";
    src: url("../fonts/ProximaNova-Bold.ttf");
}

@font-face {
    font-family: "ProximaNova-Semibold";
    src: url("../fonts/ProximaNova-Semibold.ttf");
}

body {
    font-family: 'ProximaNova-Regular';
}

.web-wrapper {
    position: relative;
}

.arrow-up {
    width: 40px;
    height: 40px;
    background-image: url(../img/arrow.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    border: none;
    outline-style: none;
    bottom: 50px;
    right: 35px;
    transition: 0.4s;
    opacity: 0;
    z-index: 999;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-prices {
    background-color: white;
    padding: 0 0 130px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    display: flex;
    margin-bottom: 70px;
    align-items: center;
}

.heading h2 {
    font-family: 'MADE';
    font-size: 64px;
    color: #2E0028;
    margin: 0 23px;
}

.heading-line {
    display: inline-block;
    height: 1.5px;
    width: 10.4vw;
    background-color: #A28CD1;
}

.product-var-list {
    display: flex;
    justify-content: center;
}

.product-var-list {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 3px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 70px;
}

.product-var {
    cursor: pointer;
    color: #958B94;
    margin: 0 25px;
    font-size: 24px;
    margin-bottom: 5px;
}

.product-var.active {
    font-weight: 600;
    color: #51424F;
}

.slick {
    height: 6px;
    background-color: #E2D6EA;
    width: 50px;
    position: absolute;
    transform: translate(-50%, -100%);
    left: 75px;
    bottom: -10px;
    transition: 0.4s;
}

.slider-wrapper {
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    position: relative;
    width: 100%;
    /* height: 100%; */
    transition: 0.4s;
}

.slides {
    flex: 1 0 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.main-padding {
    padding: 0 9vw;
}

.btn {
    padding: 16px 32px;
    box-sizing: border-box;
    height: 54px;
    background: #B2A4D4;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    transition: 0.4s;
    font-family: 'ProximaNova-Regular';
    margin-bottom: 30px;
    line-break: strict;
}

.btn:hover {
    background: #F4EDF7;
    color: #996E92;
}

.order-cake {
    margin-bottom: 130px;
}

.pricelist {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: 100%;
}

.pricelist-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.priceitem {
    border: 3px solid #E3CAE3;
    padding: 30px 75px 30px 100px;
    box-sizing: border-box;
    flex: 0 0 49%;
    margin-bottom: 30px;
    box-shadow: 0px 2px 20px rgba(178, 150, 173, 0.25);
    background-color: white;
}

.heading-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.heading-description .title {
    font-weight: 600;
    font-size: 22px;
}

.price-value {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #B296AD;
    margin-right: 55px;
}

.price-value span {
    font-family: "Roboto", sans-serif;
}

.price-description {
    font-size: 16px;
    line-height: 24px;
    color: #6F5E6C;
}

.price-description.list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.size {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #2E0028;
}

.pricelist-footer {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-top: 15px;
    align-items: center;
}

.pricelist-markup {
    margin-right: 11vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.markup {
    display: flex;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    color: #6F5E6C;
}

.markup p {
    max-width: 550px;
}

.markup.strong {
    font-weight: 600;
}

.list-dot {
    display: inline-block;
    width: 8px;
    min-width: 8px;
    height: 8px;
    background: #A28CD1;
    margin-right: 15px;
    margin-top: 8px;
}

.card-container {
    width: 18.75vw;
    height: 18.75vw;
    font-size: 20px;
    line-height: 24px;
    color: #51424F;
    position: relative;
}

.card-container .hover {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(21, 2, 40, 0.7);
    backdrop-filter: blur(4px);
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    padding: 30px;
    box-sizing: border-box;
    opacity: 0;
    transition: 0.4s;
    text-align: left;
}

.card-container:hover .hover {
    opacity: 1;
}

.pricelist-wrapper-center {
    justify-content: center;
}

.gallery-slide-description {
    margin-top: 30px;
    font-size: 20px;
}

.swiper-slide {
    width: 18.75vw;
    text-align: center;
}

.swiper-container {
    width: 100%;
}

.review-container {
    width: 100%;
    overflow: hidden;
}

.background-plant-reviews {
    position: absolute;
    transform: translate(-100%, -50%);
    top: 90px;
    left: 160px;
    z-index: -1;
}

.insta-container {
    width: 100%;
    overflow: hidden;
}

.card-container .img {
    width: 18.75vw;
    height: 18.75vw;
}

.gallery {
    margin-bottom: 50px;
}

.slider-button {
    position: absolute;
    width: 105px;
    height: 35px;
    background: #F1ECF0;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    display: none;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 21px;
    color: #958B94;
    position: absolute;
}

.swiper-button-next:after {
    left: 21px;
}

.swiper-button-prev:after {
    right: 13px;
}

.scrollbar-elem {
    background: #D7D7F1;
    height: 4px;
    position: relative;
    top: -200%;
}

.scrollbar-insta-elem {
    background: #D7D7F1;
    height: 4px;
    position: relative;
    top: -200%;
}

.scrollbar {
    margin: 30px auto;
}

.swiper-container-horizontal>.swiper-scrollbar {
    background: #E5E5E5;
    width: 170px;
    height: 0.5px;
    position: relative;
    top: -40px;
    left: 0;
}

.insta-scrollbar {
    background: #E5E5E5;
    width: 170px;
    height: 0.5px;
    position: initial;
    margin-top: 50px;
}

.review-scrollbar {
    background: #E5E5E5;
    height: 0.5px;
    position: initial;
}

.swiper-button-next, .swiper-button-prev {
    top: 100px;
    left: auto;
    right: 0;
    transform: translateY(50%);
    margin-top: 0;
}

.swiper-button-prev {
    left: 0;
    right: auto;
}

.more-info {
    display: none;
}

.quick-buy {
    display: none;
}

.cross {
    display: none;
    position: absolute;
    height: 15px;
    width: 15px;
    top: 20px;
    right: 20px;
}

.background-plant-price {
    position: absolute;
    z-index: -1;
}

.background-plant-price.upper {
    transform-origin: 0 100%;
    transform: rotate(4deg) translate(0, 85%);
    left: 0;
    top: 0;
    animation-name: upperwaving;
    animation-duration: 2s;
    animation-play-state: paused;
}

.background-plant-price.down {
    transform: scaleX(-1) scaleY(-1) translate(0, -10%) rotateZ(4deg);
    right: 0;
    bottom: 0;
    animation-name: downwaving;
    animation-duration: 2s;
    animation-play-state: paused;
}

.process {
    padding: 130px 0;
    text-align: center;
    color: #958B94;
    position: relative;
    overflow: hidden;
}

.background-plant-step {
    position: absolute;
    bottom: 5%;
    left: 0;
}

.background-plant-step.right {
    left: 100%;
    transform: scaleX(-1) rotateZ(4deg);
    animation-name: rightwaving;
    animation-duration: 2s;
    transform-origin: top left;
    animation-play-state: paused;
}

.background-plant-step.left {
    animation-name: leftwaving;
    animation-play-state: paused;
    animation-duration: 2s;
    transform: rotateZ(4deg);
    transform-origin: 0 0;
}

.process h3 {
    font-size: 24px;
    line-height: 150%;
    width: 40vw;
    margin: 0 auto 90px auto;
}

.process>p {
    font-size: 16px;
    line-height: 150%;
    width: 39vw;
    margin: 70px auto 0 auto;
}

.process .steps {
    display: flex;
    font-size: 16px;
    line-height: 150%;
    width: 100vw;
    box-sizing: border-box;
    padding: 0 8.3vw;
    align-items: baseline;
}

.process .steps .step {
    flex: 0 0 25%;
    position: relative;
    padding-right: 30px;
    box-sizing: border-box;
}

.process .steps .step:not(.last)::after {
    position: absolute;
    display: block;
    width: 7vw;
    height: 2px;
    background-color: #E5E5E5;
    content: '';
    right: calc(-3.5vw + 30px);
    top: 50px;
}

.process .steps .step .odd {
    margin-top: 14px;
}

.process .steps .step .step-description {
    display: flex;
    margin-top: 50px;
    text-align: left;
}

.process .steps .step .step-description p {
    max-width: 17vw;
}

.decorations-cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.decoration-variation li {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 150%;
}

.decoration-variation li span {
    color: #A28CD1;
    margin-right: 14px;
}

.decorations-cards .card {
    flex: 0 0 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.decorations-cards .card img {
    width: 25vw;
}

.decorations-description {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 16px;
    line-height: 150%;
}

.decoration-description {
    flex: 0 0 25vw;
    display: flex;
}

.swiper-slide.review-slide>img {
    width: 100%;
    height: 100%;
}

.swiper-slide.insta-slide {
    max-height: 340px;
    overflow: hidden;
}

.swiper-slide.insta-slide>img {
    width: 100%;
    height: 100%;
}

.reviews {
    margin-top: 130px;
}

.insta {
    margin-top: 130px;
}

.discount {
    padding: 40px 80px;
    border: 3px solid #E3CAE3;
    box-sizing: border-box;
    box-shadow: 0px 2px 20px rgba(178, 150, 173, 0.25);
    margin-top: 70px;
    width: 36vw;
    text-align: center;
    line-height: 150%;
    background-color: #FFFFFF;
    position: relative;
}

.discount h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #B29BC7;
    margin-bottom: 30px;
}

.discount p {
    font-size: 15px;
}

.insta-btn {
    margin-top: 30px;
}

.btn a {
    text-decoration: none;
    color: white;
    outline-style: none;
}

.btn a:visited {
    color: inherit;
}

.header {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

.footer {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    border-top: 1px solid #D7D7F1;
box-sizing: border-box;
min-height: 150px;
}

.logo {
    width: 85px;
    height: 85px;
    background-image: url('../img/Logo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contacts {
    display: flex;
    font-size: 16px;
    line-height: 150%;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    color: #B29BC7;
}

.footer .contacts {
    flex-direction: column;
}

.footer .contacts a img {
    height: 23px;
    width: 23px;
}

.footer .contacts a {
    font-size: 14px;
}

.footer .contacts .contact-item.instagram {
    margin: 10px 0;
}

.footer .contacts img {
    height: 23px;
    width: 23px;
}

.contact-item a {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: #B29BC7;
    outline-style: none;
    white-space: nowrap;
}

.contact-item a:visited {
    color: #B29BC7;
}

.contact-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 40px;
}

.location img {
    height: 32px;
    width: 32px;
    margin-right: 20px;
}

.whatsapp a img {
    height: 32px;
    width: 32px;
    margin-right: 20px;
}

.instagram a img {
    height: 32px;
    width: 32px;
    margin-right: 20px;
}

.cupcake-overview {
    margin-bottom: 130px;
    font-size: 16px;
    line-height: 150%;
    width: 100%;
}

.cupcake-description {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 70px;
}

.cupcake-description-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 100px;
}

.cupcake-description-block.moved {
    margin: 0 70px;
}

.cupcake-description-block.centered {
    justify-content: center;
}

.cupcake-description-block img {
    display: none;
}

.cupcake-list p {
    color: #2E0028;
    font-weight: 600;
    margin-bottom: 25px;
    font-size: 20px;
}

.cupcake-list li {
    margin-bottom: 8px;
}

.cupcake-addition {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cupcake-addition p {
    margin-bottom: 20px;
}

.cupcake-addition p span {
    font-weight: 600;
}

.fil .list-dot {
    background-color: #E3B6C8;
}

.cupcake-description-img {
    width: 300px;
    height: 400px;
}

.cupcake-examples {
    display: flex;
    justify-content: space-around;
}

.side-info {
    display: flex;
    flex-direction: column;
    flex: 0 0 45%;
    justify-content: center;
}

.side-info p {
    margin-bottom: 10px;
}

.side-info p span {
    font-weight: 600;
}

.introduction h1 {
    font-family: "MADE";
    font-size: 72px;
    margin-bottom: 30px;
    height: 72px;
}

.introduction {
    font-size: 16px;
    line-height: 150%;
    text-align: left;
    width: 100%;
    padding-top: 64px;
    box-sizing: border-box;
}

.introduction p {
    margin-bottom: 25px;
    max-width: 425px;
}

.introduction p span {
    font-weight: 600;
}

.text-me {
    margin-top: 45px;
}

.main-banner {
    /* background-attachment: fixed; */
    background-image: url('../img/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-img {
    background-image: url('../img/main.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 272px;
    display: none;
}

.anchors {
    display: flex;
}

.anchor-item {
    margin: 15px;
    cursor: pointer;
}

.description {
    font-size: 1vw;
    line-height: 135%;
}

@keyframes upperwaving {
    0% {
        transform: rotate(25deg) translate(0, 85%);
    }
    50% {
        transform: rotate(0deg) translate(0, 85%);
    }
    100% {
        transform: rotate(4deg) translate(0, 85%);
    }
}

@keyframes downwaving {
    0% {
        transform: scaleX(-1) scaleY(-1) translate(0, -10%) rotateZ(25deg);
    }
    50% {
        transform: scaleX(-1) scaleY(-1) translate(0, -10%) rotateZ(0deg);
    }
    100% {
        transform: scaleX(-1) scaleY(-1) translate(0, -10%) rotateZ(4deg);
    }
}

@keyframes leftwaving {
    0% {
        transform: rotateZ(30deg);
    }
    50% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(4deg);
    }
}

@keyframes rightwaving {
    0% {
        transform: scaleX(-1) rotateZ(30deg);
    }
    50% {
        transform: scaleX(-1) rotateZ(0deg);
    }
    100% {
        transform: scaleX(-1) rotateZ(4deg);
    }
}

@media screen and (max-width: 1200px) {
    .pricelist-markup {
        margin-right: 0;
    }
    .pricelist-footer {
        justify-content: space-between;
    }
    .price-value {
        margin-right: 0;
    }
    .priceitem {
        padding: 30px;
    }
    .slider-button {
        top: 58px;
    }
    .discount {
        width: auto;
        padding: 40px;
    }
    .review-container .scrollbar {
        margin: 50px 0 20px 0;
    }
    .insta-container .scrollbar {
        margin: 50px 0 20px 0;
    }
    .insta-scrollbar {
        width: auto;
    }
    .header {
        padding-top: 20px;
    }
    .footer {
        padding-top: 20px;
    }
    .cupcake-description-img:first-of-type {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .size-value {
        font-size: 18px;
    }
    .price-value {
        font-size: 18px;
    }
    .main-padding {
        padding: 0 7vw;
    }
    .slider-button {
        width: 50px;
        top: 60px;
    }
    .header {
        padding-top: 20px;
    }
    .footer {
        padding-top: 20px;
    }
    .cupcake-description-img {
        display: none;
    }
    .cupcake-description-block {
        justify-content: center;
    }
    .cupcake-list {
        margin: 0 100px;
    }
}

@media screen and (max-width: 812px) {
    .more-info {
        display: block;
        width: 100%;
        background-color: #E3CAE3;
    }
    .quick-buy {
        width: 100%;
        display: none;
    }
    .cross {
        display: block;
    }
    .btn:hover {
        background: #B2A4D4;
        color: #FFFFFF;
    }
    .card-container:hover .hover {
        opacity: 0;
    }
    .heading h2 {
        font-size: 34px;
        margin: 0;
    }
    .product-var-list {
        border: none;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    .product-var {
        flex: 0 0 140px;
        border-bottom: 1px solid #e5e5e5;
        margin: 0 0 45px 0;
        text-align: center;
        padding-bottom: 2px;
        box-sizing: border-box;
        font-size: 20px;
    }
    .product-var.active {
        font-weight: 600;
        border-color: #e2d6ea;
        border-width: 6px;
        margin-bottom: 39px;
    }
    .swiper-wrapper {
        align-items: center;
    }
    .slick {
        display: none;
    }
    .card-container {
        width: 82.6vw;
        height: calc(82.6vw + 44px);
    }
    .card-container .img {
        width: 82.6vw;
        height: 82.6vw;
    }
    .card-container .hover {
        width: 82.6vw;
        height: 82.6vw;
    }
    .swiper-slide {
        width: 82.6vw;
        height: auto !important;
    }
    .slider-button {
        display: none;
    }
    .heading h2 {
        font-size: 40px;
    }
    .pricelist-footer {
        flex-direction: column;
    }
    .pricelist-footer .btn {
        margin-top: 30px;
    }
    .priceitem {
        flex: 0 0 100%;
    }
    .pricelist-markup {
        align-self: flex-start;
    }
    .background-plant-price {
        width: 250px;
        height: 355px;
    }
    .background-plant-price.down {
        transform: scaleX(-1) scaleY(-1) translate(0, -10%) rotateZ(0deg);
        animation-name: none;
    }
    .background-plant-price.upper {
        transform: rotate(0deg) translate(0, 1130%);
        animation-name: none;
    }
    .process h3 {
        width: auto;
        padding: 0 47px;
        font-size: 20px;
        margin: 0 0 20px 0;
    }
    .process .steps {
        flex-direction: column;
    }
    .process .steps .step {
        flex: 0 0 100%;
        width: 100%;
        padding: 60px 0;
    }
    .process .steps .step .step-description {
        max-width: 95%;
        font-size: 14px;
    }
    .process .steps .step .step-description p {
        max-width: 92%;
    }
    .process .steps .step:not(.last)::after {
        width: 80vw;
        content: '';
        right: 0;
        left: 0;
        margin: 0 auto;
        top: 100%;
    }
    .background-plant-step.right {
        display: none;
    }
    .background-plant-step.left {
        width: 90px;
        height: 200px;
        transform: rotateZ(-80deg);
        left: -55px;
    }
    .process .info-step {
        width: 80vw;
    }
    .decorations-cards {
        flex-wrap: wrap;
        justify-content: center;
    }
    .decorations-cards .card {
        flex: 0 0 100%;
        font-size: 18px;
    }
    .decorations-cards .card img {
        width: 100%;
        margin-bottom: 60px;
    }
    .decorations-description {
        flex-wrap: wrap;
    }
    .decoration-description {
        flex: 0 0 100%;
        margin-bottom: 30px;
        font-size: 14px;
    }
    .header {
        padding-top: 20px;
    }
    .footer {
        padding-top: 20px;
    }
    .background-plant-reviews {
        top: 210px;
        left: 270px;
    }
    .cupcake-description-block {
        margin: 0;
        width: 100%;
    }
    .cupcake-description-block.moved {
        margin: 0;
    }
    .cupcake-description-block img {
        display: flex;
        margin: 40px auto 0 auto;
        width: 95%;
    }
    .cupcake-examples {
        display: none;
    }
    .cupcake-overview {
        margin-bottom: 20px;
        font-size: 14px;
    }
    .cupcake-list {
        margin: 10px;
    }
    .heading-description .title {
        font-weight: 600;
        font-size: 20px;
    }
    .anchors {
        flex-direction: column;
        font-size: 12px;
    }

    .footer .contacts a img {
        height: 20px;
        width: 20px;
        margin-right: 10px;
        margin-left: 0;
    }
    
    .footer .contacts a {
        font-size: 12px;
    }

    .footer .contacts {
        font-size: 12px;
    }
    
    .footer .contacts .contact-item.instagram {
        margin: 8px 0;
    }

    .footer .contacts .contact-item {
        flex-direction: initial;
        margin: 0;
    }
    
    .footer .contacts .contact-item a {
        flex-direction: initial;
    }
    
    .footer .contacts img {
        height: 20px;
        width: 20px;
        margin-right: 10px;
        margin-left: 0;
    }

    .footer .contacts .contact-item.instagram {
        margin: 15px 0;
    }
}

@media screen and (max-width: 578px) {
    .heading h2 {
        font-size: 34px;
        margin: 0;
    }
    .gallery-slide-description {
        font-size: 18px;
    }
    .btn {
        font-size: 16px;
    }
    .price-description {
        font-size: 14px;
    }
    .heading-description {
        position: relative;
    }
    .price-value-abs {
        position: absolute;
        right: 0;
        top: 0;
    }
    .contacts {
        flex-direction: column;
    }
    .contact-item {
        flex-direction: row-reverse;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .contact-item a {
        flex-direction: row-reverse;
    }
    .contact-item a img {
        margin-right: 0;
        margin-left: 20px;
    }
    .contact-item img {
        margin-right: 0;
        margin-left: 20px;
    }
    .instagram a p {
        display: inline;
    }
    .header {
        padding-top: 20px;
    }
    .footer {
        padding-top: 20px;
    }
    .side-info {
        flex: 1 0 100%;
    }
    .banner-img {
        display: block;
        margin-bottom: 30px;
    }
    .main-banner {
        background-image: none;
    }
    .introduction h1 {
        font-size: 54px;
        text-align: center;
    }
    .banner-expl {
        display: none;
    }
    .text-me {
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    .main-banner {
        padding-left: 0;
        padding-right: 0;
    }
    .introduction p {
        margin-left: 7vw;
        margin-right: 7vw;
    }
}

@media screen and (max-width: 480px) {
    .heading {
        width: 100vw;
        display: flex;
        justify-content: space-between;
    }
    .pricelist {
        width: 100%;
    }
}